<!-- <div class="example-card">
  <mat-list *ngFor="let local of locais">
    <mat-list-item>
      <span>Nome do auditório:{{local.auditorio}}</span>
      <span>Andar:{{local.andar}}</span>
      <span>Prédio:{{local.predio}}</span>
      <mat-icon style="position: absolute;right: 50px;" (click)="editItem(local)">edit</mat-icon>
      <mat-icon style="position: absolute;right: 10px;" (click)="deleteItem(local._id)">delete</mat-icon>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
<button mat-fab (click)="criarLocal()">
  <mat-icon>add</mat-icon>
</button> -->



<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- Nome -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome do local </th>
    <td mat-cell *matCellDef="let element">{{element.nome}}</td>
  </ng-container>
  <!-- Rua -->
  <ng-container matColumnDef="rua">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rua </th>
    <td mat-cell *matCellDef="let element"> {{element.rua}} </td>
  </ng-container>
  <!-- Numero -->
  <ng-container matColumnDef="numero">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero </th>
    <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
  </ng-container>
  <!-- Complemento -->
  <ng-container matColumnDef="complemento">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Complemento </th>
    <td mat-cell *matCellDef="let element"> {{element.complemento}} </td>
  </ng-container>
  <!-- Bairro -->
  <ng-container matColumnDef="bairro">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Bairro </th>
    <td mat-cell *matCellDef="let element"> {{element.bairro}} </td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" (click)="editItem(element)">
      <mat-icon>edit</mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element" (click)="deleteItem(element.cod_local)">
      <mat-icon>delete</mat-icon>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<button mat-fab (click)="criarLocal()">
  <mat-icon>add</mat-icon>
</button>