page-list-details {
    .scroll-content{
        padding: 0!important
    }
    .toolbar-background.toolbar-background-md{
        background: #344f8a;
    }
    .toolbar-title.toolbar-title-md{
        color: white;
    }
    .back-button.show-back-button{
        color: white!important
    }
}
