  <mat-toolbar color="primary">
    <!-- <span class="example-fill-remaining-space" routerLink="/curso" routerLinkActive="active">Curso</span>
    <span class="example-fill-remaining-space" routerLink="/disciplina" routerLinkActive="active">Disciplina</span>
    <span class="example-fill-remaining-space" routerLink="" routerLinkActive="active">Home</span>
    <span class="example-fill-remaining-space" routerLink="/aluno" routerLinkActive="active">Alunos</span>
    <span class="example-fill-remaining-space" routerLink="/about" routerLinkActive="active">Sobre</span> -->
    <!-- <span class="example-fill-remaining-space" routerLink="/eventos" routerLinkActive="active">Eventos</span> -->
    <span class="example-fill-remaining-space" routerLink="/evento-cadastrar" routerLinkActive="active">Eventos</span>
    <span class="example-fill-remaining-space" routerLink="/palestrantes" routerLinkActive="active">Palestrante</span>
    <span class="example-fill-remaining-space" routerLink="/local" routerLinkActive="active">Local</span>
  </mat-toolbar>